* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lego_bar_top {
  width: 100%;
  position: absolute;

  top: -6%;
  left: -100%;
  z-index: 0;
  animation: defilement 6s linear infinite alternate;
}
@keyframes defilement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.lego_bar_bot {
  position: absolute;
  transform: rotateX(180deg);
  top: 100%;
  right: 0;
  z-index: 0;
  animation: defilement 6s linear infinite alternate-reverse;
}
@keyframes defilement {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
